/*responsive*/

@media (max-width: 768px) {
  h2 {
    display: none;
  }
  .button-group {
    display: none;
  }
}

@media (min-width: 768px) {
  hr {
    display: none;
  }
  .escope {
    display: flex;
    margin-top: 40px;
  }
  .button-group {
    display: none ;
  }
  #transactions {
    margin-top: 45px;
  }

  .form_items {
    padding: 20px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    max-width: 768px;
    border: solid 1px #979797;
  }
  .box_button_submit {
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    height: auto;
  }
  #submit {
    width: 100% !important;
    border-radius: 4px;
  }
  .product_option {
    margin-right: 18px;
  }
  #form_data {
    display: flex;
    flex-wrap: wrap;
    max-width: 728px !important;
  }
  .option_type,
  #value {
    width: 100% !important;
  }
  .option_type {
    margin-right: 20px;
  }
  .product_option {
    min-width: 100% !important;
  }
  .box_collumn {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }
  .mobile-menu {
    width: 252px !important;
  }
  .row {
    height: 40px;
  }
}
@media (min-width: 1112px) {
  .escope {
    margin-top: 40px;
  }
  #control {
    width: 300px;
  }
  .button-group {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    flex-direction: row-reverse;
  }
  .box350 {
    width: 370px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .button {
    border: none;
    cursor: pointer;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #fff;
    width: 118.66px;
  }
  .button:nth-child(2) {
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
  }
  hr {
    display: none;
  }
  .form_items {
    padding: 20px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    max-width: 1112px;
    border: solid 1px #979797;
  }
  .box_button_submit {
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    height: auto;
  }
  #submit {
    width: 200px;
    border-radius: 4px;
  }
  .product_option {
    margin-right: 18px;
  }
  #form_data {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
  }
  .option_type,
  #value {
    width: 150px;
  }
  .option_type {
    margin-right: 20px;
  }
  .product_option {
    width: 348px;
  }
  .box_collumn {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu {
    width: 230px;
  }
  #mobile-menu-btn {
    display: none;
  }
  .data {
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
  }
}

@media (min-width: 1500px) {
  hr {
    display: none;
  }
  .escope {
    display: flex;
    justify-content: center;
  }
  .button-group {
    width: 100%;
    flex-direction: row-reverse;
  }
  .form_items {
    padding: 20px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    max-width: 400px !important;
    border: solid 1px #979797;
  }
  .box_button_submit {
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    height: auto;
  }
  #submit {
    width: 200px;
    border-radius: 4px;
  }
  .product_option {
    margin-right: 18px;
  }
  #form_data {
    max-width: 400px !important;
  }
  .option_type,
  #value {
    width: 100% !important;
  }
  .option_type {
    margin-right: 20px;
  }
  .product_option {
    width: 348px;
  }
  .box_collumn {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu {
    width: 230px;
  }
  .data {
    min-width: 680px;
  }
  .row {
    display: flex;
    border-bottom: solid 1px #333333;
    height: 40px;
  }
  #mobile-menu-btn {
    display: none;
  }
}
